doctype html

html
  head
    title World Builder

    style
      body(margin='0')
  body
    canvas(id='canvas' width='100%' height='100%')

    script(src='/socket.io/socket.io.js')
    script(src='/public/bower/jquery/dist/jquery.min.js')
    script(src='/shared/Util.js')
    script(src='/public/game/js/Game.js')
    script(src='/public/game/js/Input.js')
    script(src='/public/game/js/Sound.js')

    script(src='/public/game/js/three.min.js')
    script(src='/public/game/js/stats.min.js')
    script(src='/public/game/js/OBJLoader.js')
    script(src='/public/game/js/TDSLoader.js')
    script(src='/public/game/js/ColladaLoader.js')    
    script(src='/public/game/js/SourceLoader.js')
    script(src='/public/game/js/OrbitControls.js')
    script(src='/public/game/js/KeyboardState.js')

    script(src='/public/game/webvr/webvr-debug-parameters.js')
    script(src='/public/game/webvr/es6-promise.js')
    script(src='/public/game/webvr/VRControls.js')
    script(src='/public/game/webvr/VREffect.js')
    script(src='/public/game/webvr/webvr-polyfill.js')
    script(src='/public/game/webvr/webvr-manager.js')

    script(src='/public/client.js')
